html {
    min-height: 100vh;
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: var(--f-size);
    line-height: 1.5;
    color: var(--c-tx);
    background-color: var(--c-bg);
}

main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: var(--w-edge);
}

.container {
    box-sizing: border-box;
    max-width: var(--w-container);
    width: 100%;
}

hgroup {}

hgroup>h1 {
    font-size: 2em;
    line-height: 1;
}

hgroup>h1>a {
    text-decoration: none;
}

hgroup>p {}

figure {
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;
    border-radius: var(--bdrs);
    border: 1px solid var(--c-border);
    background-color: var(--c-bg-bright);
}

figure>img {
    display: block;
}

figure>figcaption {
    border-block-start: 1px solid var(--c-border);
    padding-block: 1.5rem 1rem;
    padding-inline: var(--w-edge);
}

body>footer {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border-block-start: 1px solid var(--c-border);
    padding-block: 1.5rem;
    padding-inline: var(--w-edge);
    width: 100%;
    background-color: var(--c-bg-dim);
}